{# TODO: Update this with Tailwind front end #}

{% if alertBar.alertBar|length %}
	{# If there are alerts scheduled, cycle through them #}
	{% for alert in alertBar.alertBar.all() %}
		{% if alert.startDate < now and alert.endDate > now %}
			<div class="text-center p-1 bg-primary text-white">
				{{ alert.text }}
			</div>
		{% endif %}
	{% endfor %}
{% endif %}
