{% if alertBar.startDate < now and alertBar.endDate > now %}
	<div class="bg-blue py-2 text-center text-white">
		<article class="prose mx-auto">
			{{ alertBar.text }}
		</article>
	</div>
{% endif %}
