{% if alertBar.alertBarStartDate < now and alertBar.alertBarEndDate > now %}
	<div class="bg-blue-700 py-2 text-center text-white">
		<article class="prose mx-auto text-white">
			{{ alertBar.alertBarText }}
		</article>
	</div>
{% endif %}
