{
	"useTabs": true,
	"tabWidth": 3,
	"semi": false,
	"singleQuote": true,
	"twigPrintWidth": 120,

	"twigMultiTags": [
		"nav,endnav",
		"switch,case,default,endswitch",
		"ifchildren,endifchildren",
		"cache,endcache",
		"js,endjs"
	],
	"pluginSearchDirs": false,
	"plugins": ["prettier-plugin-twig-melody", "prettier-plugin-tailwindcss"]
}
