{% import '_includes/macros' as macros %}

<div class="container mx-auto px-6 py-10">
	<article class="prose mb-10">
		{{ block.text }}
	</article>

	{% set form = block.form.one %}
	{% if block.form %}
		<div class="max-w-[65ch]">
			{{ macros.form(form) }}
		</div>
	{% endif %}
</div>
