{% import '_includes/macros' as macros %}

{% set form = block.form.one %}

<div class="container mx-auto px-6 py-10 lg:py-20">
	<article class="prose mb-10">
		{{ block.richText }}
	</article>

	{% if form %}
		{# ? UTM campaign tracking #}
		{# Reuires 3 hidden fields on the form with the handles utm_source, utm_medium and utm_campaign #}

		{# Create a blank array to hold the values #}
		{% set utmFields = {} %}

		{# Loop through the UTM variables utm_source, utm_medium and utm_campaign, and merge them #}
		{% for key, value in craft.app.session.get('queryParams') %}
			{% if key in utmParams %}
				{% set utmFields =
					utmFields|merge({
						(key): value
					})
				%}
			{% endif %}
		{% endfor %}

		{% if craft.app.session.get('queryParams') %}
			{#
				If there is a queryParams set on the session, loop through that array
				and set the values of the fields matching those names on the form
			#}
			{% do craft.formie.populateFormValues(form.handle, utmFields) %}
		{% endif %}

		<div class="prose">
			{{ macros.form(form) }}
		</div>
	{% endif %}
</div>

{# prettier-ignore-start #}
{% js %}
	// Wait until Formie has been loaded and initialized
	document.addEventListener('onFormieInit', (event) => {
		// Fetch the Form Factory once it's been loaded
		let Formie = event.detail.formie;

		// Refresh the necessary bits that are statically cached (CSRF inputs, captchas, etc)
		Formie.refreshForCache('{{ form.formId }}');
	});
{% endjs %}
{# prettier-ignore-end #}
