{% import '_includes/macros' as macros %}

<div class="container mx-auto px-6 py-10 lg:py-20">
	<article class="prose">
		{{ block.richText }}
	</article>

	{% set buttons = block.buttons %}
	{% if not buttons.isEmpty %}
		<div class="pt-10">
			{% for button in buttons %}
				{{
					macros.button(button.url, button.text, 'btn mr-2', button.target)
				}}
			{% endfor %}
		</div>
	{% endif %}
</div>
