{% import '_includes/macros' as macros %}

<div class="container mx-auto px-6 py-10">
	<article class="prose">
		{{ block.text }}
	</article>

	{% if block.button|length %}
		{{ macros.button(block.button.url, block.button.text, 'btn', block.button.target) }}
	{% endif %}
</div>
