{# ? |replace the iframe width="[0-9+]" and height="[0-9+]" so the aspect-ratio class works #}

<div class="container px-4 py-5 mx-auto lg:py-10">
	{{
		block.videoEmbedCode
			|retconAttr(
				'iframe',
				{
					class: 'w-full aspect-video',
					width: false,
					height: false,
					loading: 'lazy'
				}
			)
			|raw
	}}
</div>
