{# TODO: Update this with Tailwind front end #}

{% extends '_layout' %}

{% block content %}
	<div class="container mx-auto">
		<h1 class="mb-2">
			{{ error404.heading404 }}
		</h1>
		<div>
			{{ error404.text404 }}
		</div>
	</div>
{% endblock %}
