{% import '_includes/macros' as macros %}

{% extends '_layout' %}

{% block content %}
	<div class="container mx-auto px-4 py-20 text-center">
		<h1 class="">
			{{ error404.heading404 }}
		</h1>
		{{ macros.text(error404.text404) }}
	</div>
{% endblock %}
