<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{# Adds JS and CSS processed with Vite #}
		{{ craft.vite.script('src/js/app.js') }}

		{# TODO: Add favicon here #}
	</head>

	<body>
		{{ adminbar() }} {# Adds the Admin Bar plugin to the page #}

		<a class="absolute -m-1 h-0 w-0 overflow-hidden border-0 bg-black p-0 text-center text-white focus:relative focus:m-0 focus:block focus:h-auto focus:w-full focus:p-2"
			href="#main">
			<span>Skip to main content</span>
		</a>

		{% include '_includes/alertBar' %}
		{% include '_includes/header' %}

		<div role="main" id="main">
			{% block content %}

			{% endblock %}
		</div>
		{% include '_includes/footer' %}
	</body>
</html>
