<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{# Stylesheet #}
		{{ craft.twigpack.includeCssModule('/css/app.css') }}

		{# TODO: Add favicon here #}
	</head>

	<body>
		{{ adminbar() }} {# Adds the Admin Bar plugin to the page #}

		<a class="absolute w-0 h-0 p-0 -m-1 overflow-hidden text-center text-white bg-black border-0 focus:relative focus:p-2 focus:w-full focus:block focus:h-auto focus:m-0"
			href="#main">
			<span>Skip to main content</span>
		</a>

		{% include '_includes/alertBar' %}
		{% include '_includes/header' %}

		<div role="main" id="main">
			{% block content %}

			{% endblock %}
		</div>
		{% include '_includes/footer' %}

		{{ craft.twigpack.includeJsModule('/js/app.js') }}

		{% include '_includes/klaro' %}
	</body>
</html>
