{% extends '_layout' %}

{% block content %}
	<div class="container mx-auto text-center py-5">
		<h1>
			Setup Complete!
		</h1>
		<p>
			If you can see this page, site setup is complete. We normally delete this template and create an entry the
			Pages structure with the slug set to <kbd>__home__</kbd>. This tells Craft to use that page as the homepage.
		</p>
	</div>
{% endblock %}
