/* Example of how to reference a font file */
/* @font-face {
	font-display: swap;
	font-family: 'Font Name';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/font-name.woff2') format('woff2');
} */
