/* override the Klaro variables */
:root {
	--green1: theme('colors.blue');
	--blue1: theme('colors.blue');
}

.klaro .cookie-modal .cm-btn,
.klaro .context-notice .cm-btn,
.klaro .cookie-notice .cm-btn {
	padding: 6px 18px !important;
	border-radius: 40px !important;
}

.klaro .cookie-modal a,
.klaro .context-notice a,
.klaro .cookie-notice a {
	color: white !important;
	text-decoration: underline !important;
}

span.cm-list-title {
	color: white !important;
}
